In [35]:
import nflgame
import mirofeatures as mf
import pandas as pd
import numpy as np
from sklearn import linear_model

In [36]:
ftrs, isPass = mf.getFeatures(2010,2013)

In [37]:
df_ftrs = pd.DataFrame(ftrs)
df_isPass = pd.DataFrame(isPass)
ftrs = np.array(ftrs)
isPass =np.array(isPass)
df_ftrs.head(10)
#df_isPass.head(10)

   down opponent  position  shotgun team    time  togo
0     1      MIN        77        1   NO  1796.0    10
1     1      MIN        49        0   NO  1761.0    10
2     1      MIN        37        1   NO  1721.0    10
3     2      MIN        37        0   NO  1716.0    10
4     3      MIN        29        1   NO  1684.0     2
5     1       NO        80        0  MIN  1676.0    10
6     2       NO        77        0  MIN  1636.0     7
7     3       NO        72        0  MIN  1598.0     2
8     1      MIN        73        1   NO  1553.0    10
9     2      MIN        75        0   NO  1514.0    12

## Classifying

In [46]:
X = df_ftrs.drop(['opponent', 'team'], axis = 1)

In [45]:
df_ftrs

        down opponent  position  shotgun team    time  togo
0          1      MIN        77        1   NO  1796.0    10
1          1      MIN        49        0   NO  1761.0    10
2          1      MIN        37        1   NO  1721.0    10
3          2      MIN        37        0   NO  1716.0    10
4          3      MIN        29        1   NO  1684.0     2
5          1       NO        80        0  MIN  1676.0    10
6          2       NO        77        0  MIN  1636.0     7
7          3       NO        72        0  MIN  1598.0     2
8          1      MIN        73        1   NO  1553.0    10
9          2      MIN        75        0   NO  1514.0    12
10         3      MIN        73        1   NO  1472.0    10
11         1       NO        70        0  MIN  1456.0    10
12         2       NO        61        0  MIN  1421.0     1
13         3       NO        61        0  MIN  1418.0     1
14         1       NO        59        0  MIN  1378.0    10
15         2       NO        79        1  MIN  1316.0    30
16         3       NO        65        1  MIN  1275.0    16
17         1      MIN        96        1   NO  1227.0    10
18         1      MIN        74        1   NO  1130.0    15
19         2      MIN        74        1   NO  1123.0    15
20         1      MIN        55        1   NO  1080.0    10
21         2      MIN        48        1   NO  1042.0     3
22         3      MIN        50        1   NO   922.0    18
23         1      MIN        42        1   NO   998.0    10
24         1       NO        89        0  MIN   893.0    10
25         2       NO        89        0  MIN   849.0    10
26         1       NO        78        0  MIN   811.0    10
27         2       NO        72        0  MIN   772.0     4
28         3       NO        70        0  MIN   728.0     2
29         1       NO        62        0  MIN   683.0    10
...      ...      ...       ...      ...  ...     ...   ...
119517     2      STL         2        0  SEA  1045.0     2
119518     1      SEA        95        0  STL  1037.0    14
119519     2      SEA        95        0  STL  1000.0    14
119520     3      SEA        89        1  STL   954.0     8
119521     1      STL        75        0  SEA   909.0    10
119522     2      STL        81        1  SEA   900.0    16
119523     3      STL        72        1  SEA   838.0     7
119524     2      SEA        94        1  STL   754.0    20
119525     3      SEA        86        1  STL   714.0    12
119526     1      STL        61        0  SEA   684.0    10
119527     2      STL        52        0  SEA   642.0     1
119528     3      STL        52        0  SEA   602.0     1
119529     1      STL        47        0  SEA   563.0    10
119530     1      SEA        71        0  STL   541.0    10
119531     2      SEA        64        1  STL   518.0     3
119532     1      SEA        60        1  STL   486.0    10
119533     2      SEA        54        1  STL   460.0     4
119534     3      SEA        54        1  STL   457.0     4
119535     1      SEA        47        1  STL   432.0    10
119536     2      SEA        47        1  STL   427.0    10
119537     3      SEA        44        1  STL   397.0     7
119538     1      SEA        37        1  STL   371.0    10
119539     2      SEA        31        0  STL   342.0     4
119540     1      SEA        27        1  STL   314.0    10
119541     1      SEA         6        1  STL   286.0     6
119542     2      SEA         2        1  STL   257.0     2
119543     1      STL        44        0  SEA   252.0    10
119544     2      STL        42        0  SEA   206.0     8
119545     3      STL        35        0  SEA   164.0     1
119546     4      STL        37        0  SEA   158.0     3

[119547 rows x 7 columns]

In [38]:
np.random.seed(12346)
mask = np.full(len(ftrs), False)
mask[:len(ftrs)*3/4] = True
np.random.shuffle(mask)

In [47]:
clf = linear_model.SGDClassifier(tol=.000001)
clf.fit(X[mask],isPass[mask])

SGDClassifier(alpha=0.0001, average=False, class_weight=None, epsilon=0.1,
       eta0=0.0, fit_intercept=True, l1_ratio=0.15,
       learning_rate='optimal', loss='hinge', max_iter=None, n_iter=None,
       n_jobs=1, penalty='l2', power_t=0.5, random_state=None,
       shuffle=True, tol=1e-06, verbose=0, warm_start=False)

In [49]:
print("Success rate in predicting pass is %f%%" % (100*clf.score(X[np.invert(mask)], isPass[np.invert(mask)])))

Success rate in predicting pass is 57.225550%